@font-face {
    font-family: Pretendard-Bold;
    src: url(../font/Pretendard-Bold.otf);
}
@font-face {
    font-family: Pretendard-semibold;
    src: url(../font/Pretendard-SemiBold.otf);
}
@font-face {
    font-family: Pretendard-Regular;
    src: url(../font/Pretendard-Regular.otf);
}

body {
    margin-bottom: 50rem;
}

form {
    color: gray;
    position: absolute;
    top: 40%;
}

a {
    padding-right: 1rem;
    cursor: pointer;
}

a:visited {
    color: gray; 
    text-decoration: none;
}

a:link {
    color: gray; 
    text-decoration: none;
}

a:active {
    color: gray; 
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    transition: 0.2s;
}

input {
    margin: 1rem;
    border: none;
    border-bottom: 0.1rem solid gray;
    transition: 0.1s;
}

.main-titleBox {
    top: 0%;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: left;
}

.main-titleBox > .main-title {
    background: none;
    border: none;
    top: 4rem;
    left: 5rem;
    color: #0066ff;
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.sub-title {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 500;
    top: 7rem;
    left: 6rem;
    position: relative;
    cursor: default;
}

.box {
    display: flex;
    flex-direction: column;
}

.sub-menu {
    display: flex;
    justify-content: right;
    margin-right: 6rem;
}

