form {
    color: gray;
}

label {
    border: none;
}

.mainTitleBox {
    background-color: #0066ff;
    top: 0%;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}
.signUpForm {
    top: 10%;
    width: 10rem;
    background-color: rgb(185, 185, 185);

}
.mainTitle {
    text-align: center;
    color: white;
    vertical-align: center;
}

.subTitle {
    text-align: center;
}

