<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/signup-style.css">
    <title>econoshop-signup</title>
</head>
<body>
    <div class="mainTitleBox">
        <h1 class="mainTitle"><%="ECONOSHOP"%></h1>
    </div>
    <h1>Sign Up</h1>
    <br>
    <!-- login form -->
    <form action="/register" method="post">
        <div class="container">

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
          <br>
          <label for="id"><b>ID</b></label>
          <input type="text" placeholder="Enter ID" name="id" required>
          <br>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <br>
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
          <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>


</body>
</html>