<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ECONO SHOP</title>
        <base href="/event">
        <link rel="stylesheet" href = "/css/econoshop.css">
    </head>
    <body>
        <% if ( userSession ) { %>
            <header><a href="/">Econo Shop</a></header>
            <nav class="nav1">
                <a class="basket" href="/cart">장바구니</a>
                <div class="line1"></div>
                <a class="mypage" href="/mypage">마이페이지</a>
                <div class="line2"></div>
                <p class="session-name"><%= userSession.name %> 회원님 안녕하세요!</p>
                <a class="login" href="/logout">로그아웃</a>
            </nav>
            <nav class="nav2">
                <a class="goods" href="/goods">굿즈</a>
                <a class="groupbuy" href="/groupBuy">공동구매</a>
                <a class="fleamarket" href="/fleaMarket">플리마켓</a>
                <a class="event" href="/event">행사</a>
            </nav>
            <section>
                <div id = "event-block" >
                </div>
            </section>
            <script src="/js/domain/event.js"></script>
        <% } else { %>
            <script>
                alert("로그인이 필요한 페이지입니다.");
                window.location.href="/login"
            </script>
        <% } %>
    </body>
</html>